.header {
    margin-top: 20px;
    margin-bottom: 45px;
}
.container {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__list {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__link {
    font-family: 'barlow';
    text-decoration: none;
    margin-left: 33px;
    color: #83888F;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
}

.nav__link:hover{
    color: #333D4B;
}